/* This stylesheet holds all the animations used across the webpages. */

@keyframes fly-in-top {
    0% {
        transform: translateY(-1000px);
    }
    100% {
        transform: translateY(0px);
    }
}

@keyframes fly-in-bottom {
    0% {
        transform: translateY(1000px);
    }
    100% {
        transform: translateY(0px);
    }
}

@keyframes slide-in-left {
    0% {
        transform: translateX(-1000px);
    }
    100% {
        transform: translateX(0px);
    }
}

@keyframes spread-reveal {
    0% {
        transform: scale(0,0);
    }
    100% {
        transform: scale(1,1);
    }
}

@keyframes zoom-text {
    0%, 20%, 100% {
        font-size: 3.2rem;
    }
    40% {
        font-size: 4rem;
    }
    60% {
        font-size: 5rem;
    }
}

@keyframes floating-element {
    from, to {
        transform: translateY(-20%);
    }
    50% {
        transform: translateY(0%);
    }
}

@keyframes cycle-rgb {
    0%, 100% {
        box-shadow: 0px 0px 80px rgba(255, 44, 44, 0.8);
    }
    10%, 90% {
        box-shadow: 0px 0px 80px rgba(255, 128, 44, 0.8);
    }
    20%, 80% {
        box-shadow: 0px 0px 80px rgba(255, 223, 44, 0.8);
    }
    30%, 70% {
        box-shadow: 0px 0px 80px rgba(164, 255, 44, 0.8);
    }
    40%, 60% {
        box-shadow: 0px 0px 80px rgba(44, 171, 255, 0.8);
    }
    50% {
        box-shadow: 0px 0px 80px rgba(107, 44, 255, 0.8);
    }
}

@keyframes expanding-shadow {
    from, to {
        box-shadow: 0px 0px 30px rgb(190, 190, 190, 0.5);
    }
    50% {
        box-shadow: 0px 0px 60px rgb(190, 190, 190, 0.8);
    }
}