html {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 62.5%; /* Sets the stage for use of root em */
    /* 10px = 0.625rem */
    /* x rem = x times the font-size of html element. */
}

body {
    margin: 0;
    padding: 0;
    overflow: auto; /* prevents horizontal scrolling */
}

div.parallax {
    min-height: 100vh;

    background-repeat: no-repeat;
    background-attachment: fixed; /* Important to ensure parallax effect is created */
    background-position: center;
    background-size: cover; /* Covers entire container */
}

div.parallax-buffer {
    background-color: antiquewhite;
    min-height: 10vh;
}

/* Below are style rules that will affect the scroll-snap property of section elements */
section.snap-scroll-section {
    scroll-snap-align: start;
    scroll-snap-stop: always;

    height: 100vh;

    display: flex;
    justify-content: center;
}

/* Creates a grid layout for content sections */
section.grid-content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 0px 40vh 1fr 1fr 1fr;
}

div.content-section-banner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    grid-row: 2;
    grid-column: 1 / -1;

    padding: 20px;

    text-align: center;
    vertical-align: middle;
}

article {
    grid-column: 1/-1;
    justify-content: center;

    padding: 20px;
}

article#content-A {
    grid-row: 3/span 1;
    
}

article#content-B {
    grid-row: 4/span 1;
}
