/* 
This stylesheet is created to style the layout, which may be used and adapted across the multiple webpages
The elements styled here are major components that contribute greatly to the overall structure and flow of the three webpages.
/*
    Contents:
    1. Parallax layouts for the index.html page.
    2. Sticky banner layout for both index.html and pledge.html, covering the navigation buttons and the title
    3. Snap scroll layout for about-me.html and pledge.html pages
    4. Grid layout for content sections in index.html and pledge.html

*/
html {
    scrollbar-width: none; /* Removes the scrollbar */
}

body {
    margin: 0;
    padding: 0;
     /* prevents horizontal scrolling */
}

/* 
    1. Styles below are for Parallax Layouts, where the background image is fixed.
    Contains the main parallax style for backgrounds and the buffer
*/
div.parallax {
    min-height: 100vh; /* full page size */

    background-repeat: no-repeat;
    background-attachment: fixed; /* Important to ensure parallax effect is created */
    background-position: center;
    background-size: cover; /* Covers entire container */
}

div.parallax-buffer {
    background-color: #00171F;
    min-height: 8vh;
    
}

/* 
    2. Styles below are for the Sticky Banner at the top in part 2 of the index.html webpage.
    Contains the style rules affecting the banner itself, as well as the small SDG logo inside it.
*/
header#sticky-banner {
    display: flex;
    flex-direction: row;
    position: sticky; /* important to ensure banner stays on the top of the page. */
    top: 0;
    padding: 1vh 1vw;
    height: 12vh;

    background-color: #00171F;
    
    z-index: 10; /* Ensures everything goes below it. */
}

header#sticky-banner > a {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 1vw;
}

header#sticky-banner img#small-logo {
    width: 5vw;
    height: auto;
    align-self: center;
    border-radius: 10%;
    
    transition: all 0.5s;
}

/* Animate the logo to rotate and expand on hover */
header#sticky-banner img#small-logo:hover {
    padding: 10px;
    transform: scale(1.2, 1.2) rotate(360deg);
    border-radius: 20px;
}

header#sticky-banner > ul > li {
    background-color: #08A075;
}

header#sticky-banner > ul > li:hover {
    background-color: #287761;
}

/* Below are style rules that will affect the scroll-snap property of section elements */
/* Used in about-me and pledge webpages */

/* Creates a container to store scroll-snap sections */
div.scroll-snap-container {
    /* Allows for scroll snapping; proximity causes the scroll to 
    snap less stricly and allows for more scrolling space */
    height: 100%;
    width: 100%;
    overflow: scroll;
    scroll-snap-type: y proximity; 

    scrollbar-width: none; /* hides the scrollbar */
}

section.snap-scroll-section {
    scroll-snap-align: start;
    scroll-snap-stop: always;

    height: 100%;
    width: 100%;

    display: flex;
    justify-content: center;
}

/* Creates a grid layout for content sections */
section.grid-content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 0px 40vh auto auto auto auto auto ;
    /* Layout: buffer, banner, text, text, text buffer */
    margin-bottom: 20vh;
}

div.content-section-banner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    grid-row: 2;
    grid-column: 1 / -1;

    padding: 20px;

    text-align: center;
    vertical-align: middle;
}

section.grid-content  a {
    text-decoration: underline dotted 2px;
}




