/* This stylsheet stores the default values for all elements */
* {
    margin: 0; //creates a fallback for margin and padding in case of browser incompatibility
    padding: 0;
}

a {
    font-size: 1.6rem;

    color: inherit;
    text-align: inherit;
    text-decoration: none;
}

h1 {
    font-size: 3.2rem;
}

p {
    font-size: 1.6rem;
}

article {
    font-size: 2rem;
}
