/* This stylsheet stores the default values for all elements */
* {
    margin: 0px; /* creates a fallback for margin and padding in case of browser incompatibility */
    padding: 0px;
}

a {
    font-size: 1.6rem; 
    font-family: "Roboto Condensed";

    color: inherit;
    text-align: inherit;
    text-decoration: none;
}

h1 {
    font-family: "Bebas Neue";
    font-size: 3.2rem;
    color: inherit;
}

p {
    font-family: 'Roboto Condensed';
    font-size: 1.6rem;
    color: inherit;
}

strong {
    font-weight: 800;
}
