/* This stylsheet stores the default values for all elements */
* {
    margin: 0px; /* creates a fallback for margin and padding in case of browser incompatibility */
    padding: 0px;
}

a {
    font-size: inherit; 
    font-family: "Roboto Condensed";

    color: inherit;
    text-align: inherit;
    text-decoration: none;

    transition: all 0.2s ease-in-out;
}


h1 {
    font-family: "Bebas Neue";
    font-size: 3vw;
    color: inherit;
}

p {
    font-family: 'Roboto Condensed';
    font-size: 1.6vw;
    color: inherit;
}

strong {
    font-weight: 800;
}
