/*  The contents of this file influences the style of
    the main contents of the homepage and its children.

    Contents:
    1. Sticky banner style rules
    2. Style rules for content sections and its children
*/

header#sticky-banner {
    display: flex;

    background-color: rgb(0, 28, 41);

    position: sticky;
    top: 0;
}

img#small-logo {
    padding: 10px;

    border-radius: 20px;

    transition:
        width 0.5s,
        height 0.5s,
        margin 0.5s,
        rotate 0.5s,
        border-radius 0.5s;
}

img#small-logo:hover {
    width: 100px;
    height: 100px;
    rotate: 360deg;
    border-radius: 20px;
}

header#sticky-banner > ul > li {
    background-color: antiquewhite;
}

header#sticky-banner > ul > li:hover {
    background-color: white;
}

div.content-section-banner > h1 {
    font-family: 'Bebas Neue';
    font-size: 9rem;
    letter-spacing: 0.5rem;
    margin: auto;
    text-shadow: 0px 0px 30px rgba(0, 0, 0, 0.7);
}

section#content-1 > div {
    background-image: url(/Assets/Images/hungry-children-lined-up.jpeg); /* Credit to CNBC at https://www.cnbc.com/2021/07/09/oxfam-war-covid-and-climate-change-fuel-hunger-crisis-killing-11-every-minute.html, from Getty Images */
    background-size: cover;
    background-position: top -20vh center;
    background-attachment: fixed;
}

