/*  The contents of this file influences the style of
    the main contents of the homepage and its children.

    Contents:
    1. Style rules for content sections and its children
*/
div.content-section-banner > h1 {
    font-family: 'Bebas Neue';
    font-size: 9rem;
    letter-spacing: 0.5rem;
    margin: auto;
    text-shadow: 0px 0px 30px rgba(0, 0, 0, 0.7);
}

/* Style the content banner */
section#content-1 > div.content-section-banner {
    background-image: url(/Assets/Images/hungry-children-lined-up.jpeg); /* Credit to CNBC at https://www.cnbc.com/2021/07/09/oxfam-war-covid-and-climate-change-fuel-hunger-crisis-killing-11-every-minute.html, from Getty Images */
    background-size: cover;
    background-position: top -20vh center;
    background-attachment: fixed;
}

section#content-1 > p#cont-1-p-A {
    grid-row: 3 / span 1;
    grid-column: 1 / span 4;
}

section#content-1 > figure.inline-image {
    grid-row: 3 / span 1;
    grid-column: 5 / span 2;

    align-self: center;
    margin: auto;
    margin-top: 10%;
}

figure.inline-image img {
    width: 20vw;
    height: 35vh;
}

section#content-2 > div.content-section-banner {
    background-image: url(/Assets/Images/starving-pair.webp); /* Credit to Concern US at https://concernusa.org/news/causes-of-world-hunger/ */
    background-size: cover;
    background-attachment: fixed;
}







