/*  The contents of this stylesheet influences the elements in charge of
    the parallax effect, as well as their children. */

/* The following covers the style rules of the id=parallax-1 element. */
div#parallax-1 {
    display: flex;
    background: url(/Assets/Images/hungry-hands.jpg) fixed no-repeat; /* Image credit: iStock by Getty Images at: https://www.istockphoto.com/photo/poor-indian-children-asking-for-food-india-gm524903696-92295869 */   
    background-size: cover;
}

div#parallax-1 > div.title-box {
    padding: 50px;

    background-color: tan;
    opacity: .95;

    width: 65vw;
    height: 60vh;

    animation: spread-reveal 1s ease-in-out;
}

/* Style the navigation list on the top right of the homepage */

div#parallax-1 > ul {
    display: flex;
    position: absolute;

    right: 10px;

    list-style: none;

    margin-top: 10px;
    margin-left: auto;
    margin-right: 20px;
}

div#parallax-1 > ul > li {
    animation: slide-in-left 1s ease-out;
    background-color: antiquewhite;
}

div#parallax-1 > ul > li:hover {
    background-color: white;
}

/* Style the contents of the title-box, including the naimations of its own children. */

div#parallax-1 > div.title-box > img {
    position: absolute;
    top: 25vh;
    left: auto;

    width: 20vh;
    height: 20vh;

    box-shadow: 0px 0px 30px rgb(255, 255, 255, 0.8);

    animation: fly-in-top 1.5s ease-out 0.2s;

    transition: all 0.3s ease-in-out;
}

div#parallax-1 > div.title-box > img:hover {
    transform: rotate3d(0.5,1,0,-30deg);
}

div#parallax-1 > div.title-box > div.divider {
    top: 30vh;
    width: 40vw;

    animation: spread-reveal 1.5s linear 0.2s;

    background-color: black;
}

div#parallax-1 > div.title-box > h1 {
    display: block;
    position: absolute;
    color: black;

    font-size: 5vw;
    text-align: center;
    letter-spacing: 1px;
    bottom: 25vh;

    animation: fly-in-bottom 1.5s ease-out 0.2s;
    
    text-shadow: 0px 0px 30px rgba(255, 255, 255, 0.8);
}

/*  The following style rules will be applied to id=parallax-2 element
    and its children. */
div#parallax-2 {
    display: flex;
    
    background: linear-gradient(180deg, rgba(255,255,255,0.3) 0%, rgba(176,166,192,0.3) 70%, rgba(42,15,84,1) 100%) scroll no-repeat,
                url(/Assets/Images/children-asking-for-food.avif) fixed no-repeat; /* Image credit: independent.co.uk via Getty at: "https://www.independent.co.uk/news/world/the-20-countries-where-more-than-1-in-4-people-go-hungry-a47886.html"  */
    
    background-size: cover;
}

div#parallax-2 > div.title-box {
    flex-direction: column;

    width: 40vw;
    height: 35vh;

    padding: 5%;

    background-color: gray;
}

div#parallax-2 > div.title-box > h1 {
    color: white;

    font-size: 5em;
    text-align: center;

    margin: auto;
    margin-top: -5%;
    
    text-shadow: 0px 0px 30px rgba(255, 255, 255, 0.8);
    border-bottom: 5px solid white;
}

div#parallax-2 > div.title-box > p {
    color: white;

    font: 4vh arial, helvetica, sans-serif;
    text-align: center;

    margin: auto;
    margin-top: 5%;
    
    text-shadow: 0px 0px 30px rgba(255, 255, 255, 0.8);
}

div#parallax-3 {
    display: flex;
    flex-direction: column;
    background-attachment: scroll;

    margin: auto;
    justify-content: center;

    min-height: 210vh;

    background-image: linear-gradient(170deg, rgba(42,15,84,1) 0%, rgba(0,28,41,1) 79%);
}

div#parallax-3 > blockquote {
    display: flex;
    flex-direction: column;

    width: 60vw;
    height: 40vh;

    color: white;
    font-family: "Bebas Neue";

    margin: auto;
    margin-top: 10%;
    margin-bottom: 1em;
}

div#parallax-3 > blockquote > h1 {
    font-size: 10vh;
    letter-spacing: 2px;
    text-align: center;

    background-image: url(/Assets/Images/smiling-child-with-food.jpg);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    background-attachment: fixed;
    background-size: cover;
    background-position: 30%, 0%;
}

div#parallax-3 > blockquote > footer {
    font-style: italic;
    font-size: 4em;
    margin-top: 30px;
}

div#parallax-3 > div.scroll-prompt {
    color: white;

    margin: auto;
    margin-top: 3em;
}

div#parallax-3 > div.scroll-prompt > h1 > strong {
    color: red;
    animation: zoom-text 10s ease infinite;
}

div#parallax-3 > div.scroll-prompt > p {
    margin: auto;
    margin-top: 2em;
    font-size: 2.4rem;
    
}

div#parallax-3 > div > img.down-arrow {
    width: 50px;
    height: 50px;

    margin: auto;
    margin-top: 2em;

    animation: floating-element 1s ease-in-out infinite;
}