header#sticky-banner {
    display: flex;

    background-color: rgb(0, 28, 41);

    position: sticky;
    top: 0;
    
}

img#logo {
    padding: 10px;

    border-radius: 20px;

    transition:
        width 0.5s,
        height 0.5s,
        margin 0.5s,
        rotate 0.5s,
        border-radius 0.5s;
}

img#logo:hover {
    width: 100px;
    height: 100px;
    rotate: 360deg;
    border-radius: 20px;
}

.banner-text {
    color: aliceblue;

    letter-spacing: 1px;

    margin-left: 20px;
    margin-top: 5px;
}

.navbar {

    float: right;
    list-style: none;
    margin-top: 20px;

    margin-left: auto;
    margin-right: 20px;

    display: flex;
}



article {
    grid-column: 2/span 4;
}

article#content-A {
    grid-row: 2/span 1;
    
}

article#content-B {
    grid-row: 3/span 1;
}