/* This stylesheet contains style rules for the my-pledge.html page. */
html, body, section {
    width: 100%;
    height: 100%;
}

div#scroll-snap-container {
    /* Allows for scroll snapping; proximity causes the scroll to 
    snap less stricly and allows for more scrolling space */
    height: 100%;
    width: 100%;
    overflow: auto;
    scroll-snap-type: y proximity; 

    scrollbar-width: none; /* hides the scrollbar */
}

div#scroll-snap-container > section {
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: left;
    
}

section#intro-section {
    background: linear-gradient(170deg, rgba(27, 27, 27, 0.411) 0%, rgba(0, 0, 0, 0.562) 100%),
                url(/Assets/Images/smiling-children-with-porridge.jpg) no-repeat; /* Credit to WGLT.org at https://www.wglt.org/show/wglts-sound-ideas/2016-05-02/students-launch-website-to-feed-starving-children */
                
    background-size: cover;
    background-attachment: fixed;
}

section#intro-section > h1 {
    font-family: 'Noto Sans', Arial, Helvetica, sans-serif;
    font-size: 9rem;

    width: fit-content;
    margin-top: 10%;
    margin-left: 5%;

    color: aliceblue;
    text-shadow: 0px 0px 20px rgba(0, 0, 0, 0.788);

    border-bottom: 10px solid rgb(255, 255, 255);
}

section#intro-section > p {
    width: fit-content;

    margin-top: 2%;
    margin-left: 5%;

    font: 3rem 'Noto Sans', Arial, Helvetica, sans-serif;
    font-weight: 600;
    color: aliceblue;
    text-shadow: 0px 0px 30px rgb(0, 0, 0);
}