/* This stylesheet is made for the about-me sub-page of index.html */
/* 
Contents:
1. The hero section and the main box
2. The content section and the carousell

*/

html, body, div.carousell-layout, section {
    /* Ensures that the selected elements take up the full page */
    width: 100%;
    height: 100%;
}

html {
    /* Allows for scroll snapping; proximity causes the scroll to 
    snap less stricly and allows for more scrolling space */
    scroll-snap-type: y proximity; 
}

body {
    background-color: rgb(22, 22, 22);
}

/* Styles the heading for the left side of the title box */
div#header-box{
    display: flex;
}

/* Styling for the title box in the middle of the hero section */
section#hero-section > div.title-box {
    width: 65vw;
    height: 60vh;
    justify-content: left;

    box-shadow: 0px 0px 40px rgba(190, 190, 190, 0.6);
    animation: expanding-shadow 5s ease-in-out infinite;
}

/* Styles a cream coloured block on the left side of the title box */
div#title-box-left {
    display: flex;
    flex-direction: column;
    padding: 2em;
    overflow: auto;
    
    background-color: rgb(255, 255, 235);
    width: 70%;
}

/* Organises the h1 element to fit perfectly with the image by aligning it */
div#title-box-left > div#header-box > h1 {
    margin-left: 5%;
    letter-spacing: 1px;
    align-self: center;
    height: auto;

    color: rgb(0, 88, 110);
    font-size: 4vw;
    
    border-bottom: 3px solid rgb(0, 88, 110);
}
/* Resize the profile picture to fit */
div#title-box-left > div#header-box > img {
    border-radius: 50%;
    object-fit: cover;
    object-position: -5vw;

    box-shadow: 2px 2px 20px rgba(91, 91, 91, 0.8);
    
    width: 8vw;
    height: 16vh;
}
/* Style the paragraph of text below the heading */
div#title-box-left > p {
    margin-top: 5%;
    margin-left: 2%;

    font-family: sans-serif, monospace;
    font-size: 1.2vw;
    color: rgb(0, 88, 110);
}

/* Enlarge the first letter of the entire p element */
div#title-box-left > p::first-letter {
    font-size: 5vh;
}

/* Enlarge the links in the paragraph */
div#title-box-left a {
    font-size: 3.5vh;
    transition: all 0.3s linear;
}
/* Add a hover effect to the link */
div#title-box-left a:hover {
    text-shadow: 2px 2px 10px rgba(0, 88, 110, 0.6);
}

div#title-box-right {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 30%;
    text-align: center;
    
    padding: 2vh 2vw;
    padding-top: 15%;

    background-color: rgb(0, 88, 110);
    color: rgb(255, 255, 235);
}

div#title-box-right > h1 {
    font-size: 5vw;
    letter-spacing: 3px;
    margin-bottom: 1vh;
}

div#title-box-right > div.scroll-prompt {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10vh;

    animation: floating-element 3s ease-in-out infinite;
}

section#hobby-section {
    justify-content: flex-start;
    flex-direction: column;

    width: 100%;
    height: 100%;
}

div#top-bar {
    width: 100%;
    height: 10vh;
    margin: auto;
}

div#top-bar > ul.navbar {
    margin-top: 2vh;
    margin-right: 2vw;
}

div#top-bar > ul.navbar > li {
    background-color: rgb(139, 255, 238);
}

div#top-bar > ul.navbar > li:hover {
    background-color: rgb(186, 255, 245);
    border: 2px solid rgba(162, 162, 162, 0.8);
    box-shadow: 0px 0px 30px rgba(163, 163, 163, 0.5);
}

section#hobby-section > h1 {
    font-size: 5vw;
    text-align: center;
}

section#hobby-section > div.carousell-layout {
    display: grid;
    grid: 1fr / 30vw 1fr 1fr 1fr 1fr 30vw;
    gap: 20%;
    margin: auto;
    padding-right: 50px;
    padding-left: 50px;
    width: 80vw;
    height: 60vh;

    overflow-x: scroll;
    scroll-snap-type: x mandatory;

    scrollbar-width: thin;
    scrollbar-color: rgba(124, 124, 124, 0.4) rgba(0, 0, 0, 0.2);
}

div.carousell-layout > section {
    display: flex;
    flex-direction: column;
    
    scroll-snap-align: center;
    scroll-snap-stop: always;

    width: 50vw;
    height: 55vh;
    border-radius: 15px;

    background-color: antiquewhite;
}

div.carousell-layout > section h1 {
    text-align: center;
    vertical-align: middle;
    margin: 1vh 2vw;
    padding: 0.5%;
    border-bottom: 2px solid black;
}

div.carousell-layout > section > div.content-card {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    margin: auto;
    
    width: fit-content;
    margin-top: 1vh;
    box-shadow: none;
}

div.carousell-layout > section > div.content-card > p {
    width: fit-content;
}

section#content-hobbies-1 > div.content-card > img {
    width: 15vw;
    margin-right: 1vw;
    margin-left: 1vw;

    border-radius: 10px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
}

div#language-bar {
    display: flex;
    flex-direction: row;
    margin: auto;
}

div#language-bar img {
    width: 3vw;
    margin: 0.5vw;
}

section#content-interests-1 img {
    width: 10vw;
}

section#content-interests-2 img {
    width: 5vw;
}

section#personality-section {
    justify-content: flex-start;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 100%;
}

section#personality-section > div.content-card {
    height: fit-content;
    width: 40vw;
    color: #f9f9f9;
    background-color: #44444D;
    box-shadow: 0px 0px 2.5vw rgba(255, 255, 255, 0.4);
    padding: 2vh 2vw;
}

section#personality-section > div.content-card > h1 {
    text-align: center;
    border-bottom: 2px solid #f9f9f9;
}

section#personality-section > div.content-card > p {
    margin: auto;
    margin-top: 2vh;
}

section#personality-section > div.content-card > div {
    display: flex;
    margin: auto;
    margin-top: 2vh;
}

div#values-card > div {
    flex-direction: column;
    background-color: #08A075;
    padding: 0.5vh 2vw;
    width: 80%;
    border-radius: 20px;
}

div#values-card > h1 {
    opacity: 1;
    vertical-align: middle;

    transition: all 0.5s ease-in-out;
}

div#values-card > div > p {
    opacity: 0;
    font-size: 0.01vw;

    transition: all 0.5s ease-in-out;
}

div#values-card > div:hover > p {
    opacity: 1;
    font-size: 1.6vw;
}

div#personality-card > div {
    display: flex;
    flex-direction: row;
}

div#personality-card img {
    width: 10vw;
    margin: auto;
    margin-right: 2vw;
}

footer#footer-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: #6A706E;
    color: #f9f9f9;

    height: 50vh;
}

footer#footer-section div.title-container {
    margin-left: 2vw;
}

footer > p {
    margin: 5vh 1vw;
    
    font-size: 1.2vw;
    text-align: center;
}