/*  The contents of this file influences the style of
    the main contents of the homepage and its children.

    Contents:
    1. Style rules for content sections and its children
*/
body {
    background-color: #F7F5F4;
}

div.content-section-banner > h1 {
    font-family: 'Bebas Neue';
    font-size: 9rem;
    letter-spacing: 0.5rem;
    margin: auto;
    text-shadow: 0px 0px 30px rgba(0, 0, 0, 0.7);
}

/* Style the content banner */
section#content-1 > div.content-section-banner {
    background: linear-gradient(170deg, rgba(146, 146, 146, 0.253) 0%, rgba(0, 0, 0, 0.37) 100%) fixed no-repeat,
                url(/Assets/Images/hungry-children-lined-up.jpeg) fixed no-repeat top -20vh center; /* Credit to CNBC at https://www.cnbc.com/2021/07/09/oxfam-war-covid-and-climate-change-fuel-hunger-crisis-killing-11-every-minute.html, from Getty Images */
    background-size: cover;
    
}

section#content-1 > p#cont-1-p-A {
    grid-row: 3 / span 1;
    grid-column: 1 / span 4;

    border-radius: 30px;
    padding-top: 50px;
    margin-top: 30px;
    margin-left: 20px;

    background-color: #74717B;
    color: #F7F5F4;
    
    box-shadow: 0px 10px 50px rgba(66, 66, 66, 0.4);
    
}

section#content-1 > figure.inline-image {
    grid-row: 3 / span 1;
    grid-column: 5 / span 2;

    align-self: center;
    margin: auto;
    margin-top: 10%;
}

figure.inline-image img {
    width: 20vw;
    height: 35vh;
}

section#content-1 > div.popout-card {
    grid-row: 4 / span 1;
    grid-column: 2 / span 4;

    margin-top: 20%;
    height: 80%;

    background-color: #44444D;
}

section#content-2 > div.content-section-banner {
    background-image: url(/Assets/Images/starving-pair.webp); /* Credit to Concern US at https://concernusa.org/news/causes-of-world-hunger/ */
    background-size: cover;
    background-attachment: fixed;
}







